.navbar-brand {
  margin-left: 30px;
}

.form-control {
  border-radius: 5px;
  width: 450px;
  margin-left: 30px;
}

.search-icon {
  position: absolute;
  z-index: 10;
  right: 53%;
  top: 22px;
  color: blue;
}

.navbar .btn {
  margin-right: 30px;
}
